<%- include("inc/head") -%>
<%- include("inc/header") -%>

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">Perguntas Cadastradas</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin: 1.2rem 0 1.2rem 0">
                    <!-- DATA TABLE -->
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2 select2-hidden-accessible" name="property" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">Filtrar por:</option>
                                    <option value="">Pergunta</option>
                                    <option value="">Avaliação Média</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2 select2-hidden-accessible" name="time" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">Ordenar por:</option>
                                    <option value="">Crescente</option>
                                    <option value="">Decrescente</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>Filtrar</button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <a href="/cadastrarPergunta" style="color:inherit;">
                                    <i class="zmdi zmdi-plus"></i>Cadastrar Pergunta
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Pergunta</th>
                                    <th>Resposta</th>
                                    <th>Avaliação Média</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (typeof error === "string") {%>
                                    
                                <% } else { %>

                                <% results.forEach(row =>{ %>
                                <tr class="tr-shadow" data-id="<%= row.id %>" data-pergunta="<%= row.data().enunciado_pergunta %>" data-resposta="<%= row.data().resposta_pergunta %>">
                                    <td><%= row.data().enunciado_pergunta %></td>
                                    <td><%= row.data().resposta_pergunta %></td>
                                    <td class="process">4.2</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item btn-edit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>
                                            <button class="item btn-delete" data-toggle="tooltip" data-placement="top" title="" data-original-title="Excluir">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                <% }); }%>

                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>

    <script src="/js/listarPerguntas.js"></script>

<%- include("inc/footer") -%>